/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .deck-wrapper {
        position: absolute;
        width: 100vw;
        height: 100vh;
        will-change: transform;
        display: flex;
        justify-content: center;
    }
    .deck-body {
        width: 450px;
        max-width: 450px;
        height: 650px;
        max-height: 730px;
        box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
    }
}
